@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    @if (_LiveState.LiveUser != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <CascadingValue Value="@_LiveState">
        <article class="content px-4">
            @Body
        </article>
        </CascadingValue>
    </main>
</div>

@code {
    private UserState _LiveState = new();
}
